<%= form_with(model: science) do |form| %>
  <% if science.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(science.errors.count, "error") %> prohibited this science from being saved:</h2>

      <ul>
        <% science.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
